.router_dec{
    background-color: #000;
}
/* nav bar decoratin start here */
.nav_dec {
    position: relative;
    z-index: 1;
    position: sticky;
    top: 0;
}

.Heder_dec {
    display: grid;
    grid-template-columns: 20% auto 15%;
    padding: 1%;
    animation: navDec;
    animation-duration: 8s;
    margin: 1%;
    box-shadow: 1px 1px 10px 2px whitesmoke;
    background-color: black;
    
}

@keyframes navDec {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.Heder_dec a {
    padding-top: 1%;
}

.Heder_dec img {
    width: 40%;
    height: 60px;
    border-radius: 50%;
}

.nav_dec1 {
    background-color: blue;
    background-image: linear-gradient(to right, rgba(198, 114, 114, 0.559), rgba(255, 166, 0, 0.662), rgba(255, 255, 0, 0.668), rgba(58, 131, 58, 0.776), blue, indigo, violet);
    padding: 1%;
    border-radius: 10%;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.slider {
    overflow: hidden;
    background-color: white;
    margin: 0 15px;
    height: 60px;
    width: 100px;
    border-radius: 10px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 30px #fff,
        inset -5px -5px 10px rgba(0, 0, 255, 0.1),
        inset 5px 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.3), 0px 420px 0 400px #2697f3,
        inset 0px 0px 0px rgba(0, 0, 0, 0.1);
    animation: animate_2 2.5s ease-in-out infinite;
    animation-delay: calc(-0.5s * var(--i));
}

@keyframes animate_2 {
    0% {
        transform: translateY(250px);
        filter: hue-rotate(0deg);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(250px);
        filter: hue-rotate(180deg);
    }
}


/* Home page decoration start here */
.home_dec {
    background-size: cover;
}

.deck_dec {
    padding: 0% 20% 2% 20%;
    color: rgba(21, 255, 0, 0.907);

}

.deck_dec h2 {
    font-size: 8vh;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

.deck_dec p {
    color: blue;
    font-size: 3vh;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.upIcon {
    font-size: 8vh;
    margin-left: -10%;
    color: yellow;
}

.downIcon {
    font-size: 8vh;
    margin-left: 100%;
    color: yellow;
}

.deck_dec button {
    background-color: #ebdede;
    border-radius: 20px;
    cursor: pointer;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    margin-left: 3%;
}

.deck_dec button:hover {
    background-image: linear-gradient(90deg, #53cbef 0%, #dcc66c 50%, #ffa3b6 75%, #53cbef 100%);
    animation: slidernbw 5s linear infinite;
    color: #000;
}

@keyframes slidernbw {
    to {
        background-position: 20vw;
    }
}

/* about decoration start here */
.about_dec{
    display: grid;
    grid-template-columns: 25% 30% 45%;
    padding: 0 2% 4% 2%;
    color: white;
}
.about_dec section{
    margin: 0 2%;
    padding: 0 4%;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 2px rgba(19, 232, 235, 0.478);
    background-color: #ffa3b53e;

}
/* Resume decoration start here */
.resume_dec{
    color: white;
}
.tech_dec{
    display: flex;
    justify-content: center;
}
.flip-card {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
    margin: 0 2%;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid coral;
    border-radius: 1rem;
  }
  
  .flip-card-front {
    background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
       rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
    color: coral;
  }
  
  .flip-card-back {
    background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
       bisque 40%, rgb(255, 185, 160) 78%);
    color: white;
    transform: rotateY(180deg);
  }
.mark{
    width: 70%;
    height: 254px;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
   }
   
   .mark1 {
    width: 100%;
    height: 254px;
    background-color: #1a1a1a;
    border-radius:20px;
    transition: all .2s;
    color: white;
    text-align: center;
    padding-top: 8%;
   }
   
   .mark1:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
   
   .mark:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
   }
.projects {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;

}

.projects>* {
    flex: 30%;
}

.card {
    width: 100%;
    height: 500px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
    margin: 2%;
}

.card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
}

.card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

.text-body {
    color: rgb(134, 134, 134);
}

.text-title {
    font-size: 1.5em;
    font-weight: bold;
}


.card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
}
/* project decoration start here */
.uae_dec{
    color: white;
}
.uae_dec2{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    /* margin: ; */
    padding: 5% 0 2% 10%;
}

.mathod {
    position: relative;
    width: 80%;
    height: 200px;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    margin-bottom: 10%;
  }
  
  .mathod svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .mathod:hover {
    transform: rotate(-5deg) scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .mathod:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
  
  .card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }
  
  .mathod:hover svg {
    scale: 0;
    transform: rotate(-45deg);
  }
  
  /* cart decoration start here */
  .Cantact{
    padding-bottom: 10%;
    text-align: center;
  }
  .Cantact h2{
    color: white;
  }
  .C_cart {
    position: relative;
    width: 50%;
    height: 400px;
    background: #f00;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0% 25%;
  }
  
  .C_cart::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg,#03a9f4,#ff0058);
  }
  
  .C_cart::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg,#03a9f4,#ff0058);
    filter: blur(30px);
  }
  
  .C_cart b {
    position: absolute;
    inset: 6px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
  }
  
  .C_cart img {
    position: absolute;
    z-index: 3;
    scale: 0.8;
    opacity: 0.25;
    transition: 0.5s;
  }
  
  .C_cart:hover img {
    scale: 0.5;
    opacity: 0.9;
    transform: translateY(-70px);
  }
  
  .C_cart .content {
    position: absolute;
    z-index: 3;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0);
    transition: 0.5s;
  }
  
  .C_cart:hover .content {
    transform: scale(1);
    bottom: 25px;
  }
  
  .content .title {
    position: relative;
    color: #fff;
    font-weight: 500;
    line-height: 1em;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
  }
  
  .content .title span {
    font-weight: 300;
    font-size: 0.70em;
  }
  
  .content .sci {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
  }
  
  .sci li {
    list-style: none;
  }
  
  .sci li .fa-brands {
    width: 80px;
  }
  
  .sci li .fa-facebook {
    width:50px ;
  }
  
  .sci li a {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.2);
    fill: currentColor;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: 0.5s;
  }
  
  .sci li a:hover {
    fill: currentColor;
    color: rgba(255, 255, 255, 1);
  }
  