/* nav bar decoratin start here */

.nav_dec{
    padding: 4%;
}

.Heder_dec{
    display: grid;
    grid-template-columns: 30% 70%;
    background-image: linear-gradient(to right, rgba(198, 114, 114, 0.559),rgba(255, 166, 0, 0.662),rgba(255, 255, 0, 0.668),rgba(58, 131, 58, 0.776),blue,indigo,violet);
    padding: 1%;
    border-radius: 10px;
}
.Heder_dec a{
    padding-left: 5%;
    color: white;
}
.nav_dec1{
    background-color: blue;
    background-image: linear-gradient(to right, rgba(198, 114, 114, 0.559),rgba(255, 166, 0, 0.662),rgba(255, 255, 0, 0.668),rgba(58, 131, 58, 0.776),blue,indigo,violet);
    padding: 1%;
    border-radius: 10%;
}
/* Home page decoration start here */
.deck_dec{
   padding: 5% 20%;
}


